In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv("company1.csv")
print(data)

## Finding missing value

In [ ]:
print(data.isnull().sum())

## Data.dropna() kr ka hum puri puri row khtm kr skta ha jis row m null value hogi

In [ ]:
print(data.dropna())

In [ ]:
print(data)

## replacing null value

In [ ]:
print(data.replace(np.nan,20000))

In [ ]:
data["salary"] = data["salary"].replace(np.nan,24400)
print(data)

In [ ]:
print(data["salary"].mean())

In [ ]:
print(data.fillna(method = "bfill"))

In [ ]:
print(data.fillna(method= "ffill"))

In [ ]:
print(data.fillna("hi"))