In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
data = pd.read_excel("ESD.xlsx")
print(data.head(10))

In [5]:
groupby = data.groupby(["Department","Gender"]).agg({"EEID":"count"})
print(groupby)

                        EEID
Department      Gender
Accounting      Female    53
                Male      43
Engineering     Female    80
                Male      78
Finance         Female    69
                Male      51
Human Resources Female    64
                Male      61
IT              Female   119
                Male     122
Marketing       Female    57
                Male      63
Sales           Female    76
                Male      64

In [6]:
gp = data.groupby("Country").agg({"Age":"mean"})
print(gp)

                     Age
Country
Brazil         43.654676
China          45.389908
United States  44.197512

In [8]:
gp1 = data.groupby(["Country","Gender"]).agg({"Annual Salary":"max","Age":"min"})
print(gp1)

                      Annual Salary  Age
Country       Gender
Brazil        Female         258426   25
              Male           249506   26
China         Female         249686   25
              Male           257194   25
United States Female         258498   25
              Male           258081   25